<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cookie Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container text-center">    
        <h2>Set Cookie</h2>
        <form action="/setcookie" method="post">
            <div class="form-group">
                    <label for="username" class="text-left">User name:</label>
                    <input type="text" class="form-control" placeholder="Provide user name" id="userName" name="userName">
            </div>
            <input type="submit" class="btn btn-danger" value="Set Cookie" />
        </form>
</div>


</body>
</html>
